@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Лабораторна №5-6</h2>
    <h3>Виконала студентка Андреєва Юлія ІПЗ-31</h3>
    <h4>Варіант 29</h4>
    <p>В лабораторній було створено бібліотеку класів для 1-3 лаборних робіт й власне веб-додаток</p>
    <p>З інтерфесу наявні сторінки логіну, реестрації та профілю користувача, 3 сторінки для кожної підпрограмми з полями для вводу та виводу, з описом того, що робить підпрограма</p>
    <p>Додано авторизацію та аутенфікацію через OAuth2</p>
</div>
